@charset "UTF-8";

@import url(../icons/font-awesome/css/font-awesome.min.css);
@import url(../icons/simple-line-icons/css/simple-line-icons.css);
@import url(../icons/simple-line-icons/css/line-awesome.min.css);
@import url(bootstrap.min.css);



@font-face {
    font-family: 'Poppins';
    src: url('../icons/poppins/poppins-regular.woff2') format('woff2'),
         url('../icons/poppins/poppins-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../icons/poppins/poppins-bold.woff2') format('woff2'),
         url('../icons/poppins/poppins-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../icons/poppins/poppins-medium.woff2') format('woff2'),
         url('../icons/poppins/poppins-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Poppins';
    src: url('../icons/poppins/poppins-semibold.woff2') format('woff2'),
         url('../icons/poppins/poppins-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}
@font-face {
  font-family: 'bell_mtbold';
  src: url('../icons/bell-mt/bellb-webfont.woff2') format('woff2'),
       url('../icons/bell-mt/bellb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/* ================================================================================== 
                    Reset Css
===================================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}


body {
  font-family: "Poppins";
  color: #aeb4b6;
  font-size: 14px;
  font-weight: 400; 
  overflow-x: hidden;
}
body.pg {
  line-height: 1;
}

a:focus,
a:hover {
  text-decoration: none; }

a.link:focus,
a.link:hover {
  color: #070f43; }

ul {
  padding: 0;
  margin: 0px; }

li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #242526;
  font-weight: 500; 
}

p {
  font-family: "Poppins";
  font-size: 13px;
  line-height: 24px;
}
section {
  float: left;
  width: 100%;
  position: relative;
}
select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; 
}


/* ================================================================================== 
                              CROSS BROWSER COMPATABILITY
===================================================================================== */

.section-gap {
  margin-bottom: 50px;
}
button:focus {
  outline: 0px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #7e7f82; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #7e7f82; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #7e7f82; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #7e7f82; }


  .wrapper{
    width: 100%;
    float: left;
    background-image:url(../images/main-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .logo-row{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 35px 0 0;
  }
  .main-row{
    width: 100%;
    display: flex;
    justify-content: space-between; 
  }
  .main-row h3{
    font-size: 25px;
    color: #282828;
    display: flex;
    line-height: 87px;
    font-weight: 500;
    margin-top: 25px;
  }
  .main-row h3 span{
    width: 87px;
    height: 87px;
    background: #e6e6e6;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    color: #939393;
    font-family: 'bell_mtbold';
    font-weight: bold;
    margin-right: 20px;
  }
  .main-column{
    width: 45%;        
  }
  .form-bg{
    background: #f3fffb;
    width: 100%;
    border-radius: 10px;
    padding: 25px;
    margin-top: 15px;
    box-shadow: 0 0 5px #e6e6e6;
  }
  .form-bg label{
    font-size: 15px;
    color: #292929;
    font-weight: 500;
    padding-bottom: 10px;
  }
  .form-bg input[type="text"]{
    width: 100%;
    font-size: 15px;
    color: #292929;
    height: 55px;
    border-radius: 5px;
    border: solid 1px #dadada;
    box-shadow: 0 0 5px #e6e6e6;
    padding: 5px 15px;
  }
  .form-bg input[type="text"]:focus{
    outline-color: #373fff;
  }
  .form-bg input[type="number"]{
    width: 100%;
    font-size: 15px;
    color: #292929;
    height: 55px;
    border-radius: 5px;
    border: solid 1px #dadada;
    box-shadow: 0 0 5px #e6e6e6;
    padding: 5px 15px;
  }
  .form-bg input[type="number"]:focus{
    outline-color: #373fff;
  }
  .form-bg input[type="submit"]{
    width: 100%;
    font-size: 15px;
    color: #fff;
    height: 55px;
    border-radius: 5px;
    border: none;
    background: #373fff;
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
  }
  .form-bg input[type="submit"]:hover{
    background: #02089f;
  }
  .form-bg input[type="submit"].claim-bg{
    background: #02089f;
  }
  .form-bg input[type="submit"].claim-bg:hover{
    background: #373fff;
  }
  .main-column h2{
    font-size: 25px;
    color: #282828;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 55px;
  }
  .main-column ul{
    list-style: none;
    margin-bottom: 50px;
  }
  .main-column ul li{
    font-size: 15px;
    color: #282828;
    font-weight: 500;
    padding-bottom: 15px;
    position: relative;
    padding-left: 30px;
  }
  .main-column ul li:before{
    content: "";
    background: url(../images/ul-tick.png);
    background-repeat: no-repeat;
    background-position: 0 3px;
    height: 20px;
    width: 17px;
    position: absolute;
    left: 0;
  }
  .code-img{
    position: absolute;
    margin-left: -80px;
    
  }
  .result-text{
    text-align: center;
    background: #ffd5d5;
    padding:20px;
    }
    .white-bg{
    background: #fff;
    padding:20px;
    }
    .result-text p{
    font-size: 15px;
    color: #282828;
    text-overflow: ellipsis;
    overflow: hidden;
    }
    .result-text p span{
    padding-left: 10px;
    font-weight: bold;
    color: #000;
    }
    .success-msg{
    background: #bffab1;
    padding:10px 30px;
    font-size: 15px;
    color: #358902 !important;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: 500;
    }
    .error-msg{
      background: #fab9b1;
      padding:10px 30px;
      font-size: 15px;
      color: #a50c07 !important;
      text-align: center;
      border-radius: 5px;
      margin-bottom: 15px;
      font-weight: 500;
    }
    #confirmresult p {
      overflow-wrap: break-word;
    }